<!--js는 footer에-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<!--static에 위치한 js,css,image 정적파일들은 URL에서 /로 설정-->
<script src="/js/app/index.js"></script>
</body>
</html>